<header class="header-navbar">
	<img src="/assets/images/logo.png" class="logo">
	<img src="/assets/images/user.png" class="user-avatar">
	<div class="avatar-dropdown">
		<span class="user-text">hello@example.com</span>
		<button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
			<i class="material-icons" role="presentation">arrow_drop_down</i>
			<span class="visuallyhidden">Accounts</span>
		</button>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
			<li class="mdl-menu__item">hello@example.com</li>
			<li class="mdl-menu__item">info@example.com</li>
			<li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
		</ul>
	</div>
</header>
<nav class="layout-navigation mdl-navigation mdl-color--blue-grey-800">
	<a class="mdl-navigation__link" href="">
		<i class="material-icons" role="presentation">home</i>
		Home
	</a>
	<a class="mdl-navigation__link" href="">
		<i class="material-icons" role="presentation">inbox</i>
		Inbox
	</a>
	<a class="mdl-navigation__link" href="">
		<i class="material-icons" role="presentation">forum</i>
		Forums
	</a>
	<a class="mdl-navigation__link" href="">
		<i class="material-icons" role="presentation">flag</i>
		Updates
	</a>
	<a class="mdl-navigation__link" href="">
		<i class="material-icons" role="presentation">local_offer</i>
		Promos
	</a>
	<a class="mdl-navigation__link" href="">
		<i class="material-icons" role="presentation">shopping_cart</i>
		Purchases
	</a>
	<a class="mdl-navigation__link" href="">
		<i class="material-icons" role="presentation">people</i>
		Social
	</a>
</nav>
{{yield}}