.nav-bar {
	.mdl-layout__header-row {
		.mdl-layout-title {
			margin-right: 8px;
		}
		.mdl-button.mdl-js-button.left-icons {
			margin: 0 8px;
			.material-icons {
			    color: rgba(25, 25, 25, 0.56);
			}
		}
	}
}


@media screen and (max-width:760px) {
	.nav-bar {
		.mdl-layout__header-row {
			padding-left: 52px;
			.mdl-layout-title {
				display: none;
			}
			.mdl-button.mdl-js-button.left-icons {
				height: 32px;
				width: 32px;
				min-width: 32px;
				.material-icons {
					font-size: 18px;
				}
			}
		}
	}
}

